<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A list of the very many things that you must do!</h1>
    <section>
        <form action="/todo" method="POST">
            <input type="text" placeholder="number" name="number">
            <input type="text" placeholder="task" name="task">
            <button type="submit">Add to the list! More! More!! MORE!!!</button>
        </form>
    </section>

    <h2>Tasks! Get to it, or ye be cursed...</h2>

    <ul class="tasks">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < tasks.length; i++) {%>
          <li class="task">
            <!-- Output name from the iterated quote object -->
            <span><%= tasks[i].number %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= tasks[i].task %></span>
          </li>
        <% } %>
      </ul>

      <h2>Example of PUT Request</h2>
      <p>This will be an example of a put request, whatever that is.</p>
      <button id="update-button">Replace Tasks Here!</button>

      <script src="/main.js"></script>
</body>
</html>